.header {
  font-family: "Roboto", "Inter", Arial, sans-serif;
  display: block;
  background-image: url("../../images/header_background.svg");
  object-fit: cover;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 1440px 576px;
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.header-bar__link {
  display: block;
  height: 24px;
  width: 200px;
  margin: 30px auto 26px 104px;
}
