.search-result {
  background-color: #f5f6f7;
  padding: 0 104px;
}

@media screen and (max-width: 1024px) {
  .search-result {
    padding: 0 10.2vw;
  }
}
@media screen and (max-width: 768px) {
  .search-result {
    padding: 0 5.21vw;
  }
}
