.header-search {
  display: block;
  width: 608px;
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header-search__title {
  font-family: "Roboto Slab", "Inter", Arial, sans-serif;
  font-size: 60px;
  line-height: 1.06;
  color: #fff;
  margin-top: 0;
  margin-bottom: 32px;
}

.header-search__text {
  font-family: "Roboto", "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
}

.header-search__input-fild {
  position: relative;

  margin-top: 64px;
}

.header-search__input {
  height: 64px;
  width: 608px;
  background: #fff;
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  padding-left: 24px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #1a1b22;
}

.header-search__input::placeholder {
  color: #b6bcbf;
}

.header-search__search-button {
  height: 64px;
  width: 168px;
  background-color: #2f71e5;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100px;
  padding: 0;
  outline: none;
  border: none;
}
