.header {
  font-family: "Roboto", "Inter", Arial, sans-serif;
  display: block;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: inset 0px -1px 0px #d1d2d6;
  box-sizing: border-box;
  padding-left: 104px;
}

.header-bar__link {
  display: block;
  height: 24px;
  width: 200px;
  margin: 30px auto 26px 0;
}

.background-transparency {
  background-color: rgba(255, 255, 255, 1);
}
