@import url(./vendor/normalize.css);
@import url(./vendor/fonts/index.css);

.page {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  background-image: url("./images/header_background.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1440px 576px;
  min-width: 320px;
}
